<header th:fragment="header"
    class="bg-teal-600 text-white p-2 flex justify-between items-center shadow-md fixed top-0 left-0 w-full z-40">

    <button id="menu-btn" @click="$dispatch('toggle-sidebar')"
        class="text-white text-3xl ml-4 focus:outline-none sm:hidden">
        ☰
    </button>

    <div class="flex items-center">
        <img th:src="@{/images/in2in_global.jpg}" alt="Logo" class="w-22 h-16 ml-2 sm:ml-16">
    </div>

    <div x-data="{ open: false }" class="relative flex items-center space-x-2 mr-4 cursor-pointer">

        <img th:if="${picture != null}" th:src="@{${picture}}" class="w-10 h-10 rounded-full border border-white"
            alt="Profile Picture">
        <img th:unless="${picture != null}" th:src="@{/images/user-icon.jpg}"
            class="w-10 h-10 rounded-full border border-white" alt="Default Avatar">


        <div class="text-white">
            <p class="text-xs leading-none font-medium">WELCOME</p>
            <span th:text="${fname}" class="font-bold"></span>
        </div>

        <button @click="open = !open" class="ml-1 focus:outline-none">▼</button>

        <div x-show="open" @click.away="open = false"
            class="absolute right-0 top-full mt-1 w-40 bg-white border border-gray-200 rounded-lg shadow-lg z-50">
            <a href="/profile" class="block px-3 py-2 text-gray-700 hover:bg-gray-100 rounded-lg">My Profile</a>
            <a href="/logout" class="block px-3 py-2 text-gray-700 hover:bg-gray-100 rounded-lg">Logout</a>
        </div>
    </div>
</header>